<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\LayeredNavigation\Block\Navigation">
        <plugin name="disable_layered_navigation_attribute" type="Vendor2\ProductCustomization\Plugin\DisableAttributePlugin" />
    </type>
</config>
