<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vendor4\RestApiTwoCustomerDetail\Api\CustomerDetailInterface" type="Vendor4\RestApiTwoCustomerDetail\Model\CustomerDetail" />
    <preference for="Vendor4\RestApiTwoCustomerDetail\Api\Data\CustomerDetailResponseInterface" type="Vendor4\RestApiTwoCustomerDetail\Model\CustomerDetailResponse" />
</config>
